<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127415323-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-127415323-1');
    </script>
    <link rel="manifest" href="https://www.hitaambrish.com/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "4440898f-55b2-4438-8f22-eb42752fb3cb",
            });
        });
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="Keywords" content="hita ambrish , hita ambrish ji latest katha , hita ambrish ji bhajan mp3 , Hita the Eternal , hita ambrish ji bhajan , hita ambrish ji wikipedia , hita ambrish ji registration , hita ambrish bhajan , hita ambrish ji katha schedule , hita ambrish ji bhajan mp3 download , hita ambrish ji pics , hita ambrish ji website , hita ambrish pravachan , hita ambrish ji bhagwat katha , hita ambrish ji photos , hita ambrish ji ka bhajan , hita ambrish ji youth session , hita ambrish ji age , hita ambrish ji bhajan audio , about hita ambrish ji , hita ambrish biography , hita ambrish bhaktmal katha , hita ambrish bhajan download , hita ambrish bhajan mp3 , hita ambrish ji biography , hita ambrish ji bhaktmaal katha , hita ambrish ji bhajan lyrics , hita ambrish ji bhajan video download , hita ambrish ji bhaktmal katha , hita ambrish ji latest bhajan , hita ambrish ji new bhajan , hita ambrish ji narad bhakti sutra , hita ambrish ji contact number , hita ambrish ji contact no , hita ambrish ji meera charitra , hita ambrish katha download , hita ras dhara ambrish ji , hita ambrish ji katha download , hita ambrish ji latest katha download , hita ambrish ji education , hita ambrish gopi geet , hita ambrish ji gopi geet mp3 , hita ambrish ji hindi , hita ambrish ji hd , hita ambrish ji images , hita ambrish ji maharaj ki katha , hita ambrish ji ki bhagwat katha , hita ambrish ji katha , hita ambrish ji ke bhajan , hita ambrish ji ka satsang , hita ambrish ji ke pravachan ,  hita ambrish ji upcoming katha , hita ambrish ji maharaj ke bhajan , shree hita ambrish ji katha , shri hita ambrish ji ki katha , shree hita ambrish ji katha download , hita ambrish live , hita ambrish ji live , hita ambrish maharaj , hita ambrish ji maharaj pravachan ,  shree hit ambrish ji, shri hita ambrish ji maharaj ki katha , hita ambrish ji on youtube , hita ambrish ji pravachan , shree hita ambrish pravachan , hita ambrish ji ringtone , hita ambrish satsang , hita ambrish schedule , hita ambrish ji songs , shree hita ambrish ji biography , hita ambrish ji video" />
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="@ViewBag.Description">
    <meta content="https://hitaambrish.com/img/maharaj-ji2.jpg" itemprop="image">
    <meta property="og:url" content="https://www.hitaambrish.com" />
    <meta property="og:image" content="https://hitaambrish.com/img/maharaj-ji2.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @{
        var cName = ViewContext.RouteData.Values["controller"].ToString();
        if (cName == "UpcomingKathas" || cName == "UpcomingDiscourses")
        {@Styles.Render("~/Upcoming/resourcesUi")}
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/bundles/ResourceCss")
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
</head>
<body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2 site-logo">
                    <div class="mb-0"><a href="/" class="text-white h2 mb-0"><img src="~/img/hita-ambrish-white-logo.png" id="mainLogo" alt="Hita Ambrish Ji" style="width: 275px !important;max-width: unset;"></a></div>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li class="has-children">
                                <a href="#" class="nav-link">About</a>
                                <ul class="dropdown">
                                    <li><a href="@Url.Action("ShreeRadhaVallabhJi", "About")" class="nav-link">Shree Radhavallabh Lal</a></li>
                                    <!--<li><a href="#">Shree Hita Harivansh Mahaprabhu</a></li>-->
                                    <li><a href="@Url.Action("HitaAmbrishJi", "About")" class="nav-link">Hita Ambrish</a></li>
                                    @*<li><a href="@Url.Action("HitaTheEternal","About")" class="nav-link">Hita The Eternal</a></li>*@
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#" class="nav-link">Gallery</a>
                                <ul class="dropdown">
                                    <li class="has-children">
                                        <a href="#" class="nav-link">Video Gallery</a>
                                        <ul class="dropdown">
                                            <li><a href="http://hitaras.com" class="nav-link">Katha Collection</a></li>
                                            <li><a href="https://www.youtube.com/playlist?list=PLBdDLcI6qE-22TjdrdaaexVM4eR6gDw3N" class="nav-link">Bhajan Collection</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#" class="nav-link">Audio Gallery</a>
                                        <ul class="dropdown">
                                            <li><a href="https://gaana.com/artist/shree-hita-ambrish-ji/albums" class="nav-link">Gaana</a></li>
                                            <li><a href="https://www.saavn.com/s/artist/shree-hita-ambrish-ji-albums/sJ4JzG6Wd6k_" class="nav-link">Saavn</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Index", "UpcomingKathas")" class="nav-link">Upcoming Discourses</a></li>
                          @*  <li><a href="@Url.Action("Index", "Query")" class="nav-link">Query</a></li>*@
                        </ul>
                    </nav>
                </div>
                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
    <footer class="site-footer">
        <div class="container">
            <div class="row pt-5 text-center">
                <div class="col-md-12">
                    <div class="pb-5">
                        <h2 class="footer-heading mb-4">Follow Us</h2>
                        <a href="https://facebook.com/ShreeHitaAmbrishJi" class="pl-0 pr-3" target="_blank"><img src="~/img/footer_icon01.png" border="0" alt="fb icon" /></a>
                        <a href="https://www.youtube.com/HitaAmbrish" class="pl-3 pr-3" target="_blank"><img src="~/img/footer_icon02.png" border="0" alt="yt icon" /></a>
                        <a href="https://www.instagram.com/hitaambrish" class="pl-3 pr-3" target="_blank"><img src="~/img/footer_icon03.png" border="0" alt="insta icon" /></a>
                        <a href="https://gaana.com/artist/shree-hita-ambrish-ji" class="pl-3 pr-3" target="_blank"><img src="~/img/footer_icon04.png" border="0" alt="gaana icon" /></a>
                        <a href="https://www.saavn.com/s/artist/shree-hita-ambrish-ji-albums/sJ4JzG6Wd6k_" class="pl-3 pr-3" target="_blank"><img src="~/img/footer_icon05.png" border="0" alt="saavn icon" /></a>
                    </div>
                    <div class="border-top pt-5">
                        <p>&copy; @DateTime.Now.Year, <a href="@Url.Action("HitaRasDhara", "About")">Hita Ras Dhara</a> All Rights Reserved</p>
                        <p>Official website of <a href="@Url.Action("HitaAmbrishJi", "About")">Hita Ambrish</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
    <script src="~/Resources/js/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js"></script>
    <script src="~/Resources/js/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Resources/js/aos.js"></script>
    <script src="~/Resources/js/main.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/Scripts/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
</body>
</html>
