<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Hita Ambrish - Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <link href="~/lumino/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lumino/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lumino/css/datepicker3.css" rel="stylesheet">
    <link href="~/lumino/css/styles.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    <link href="~/Content/MyCss.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Hita Ambrish </span> Admin</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="~/img/hita-ras-dhara-logo.png" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Admin</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <ul class="nav menu" id="lhncontainer">
            <li class="lhn"><a class ="lhn-link" href="@Url.Action("Index", "Admin")"> <em class="fa fa-dashboard">&nbsp;</em> Event</a></li>
            <li class="lhn"><a class ="lhn-link" href="@Url.Action("EventDetailed", "Admin")"> <em class="fa fa-dashboard">&nbsp;</em> Event - Detailed</a></li>
            <li class="lhn"><a class ="lhn-link" href="@Url.Action("Feedback", "Admin")"><em class="fa fa-comments">&nbsp;</em> Feedback </a></li>
            <li class="lhn"><a class ="lhn-link" href="@Url.Action("Query", "Admin")"><em class="fa fa-question-circle">&nbsp;</em> Queries </a></li>
            <li class="lhn"><a class ="lhn-link" href="@Url.Action("KathaManagement", "Admin")"><em class="fa fa-book">&nbsp;</em> Katha Management </a></li>
            <li class="lhn"><a class ="lhn-link" href="javascript:document.getElementById('logoutForm').submit()"><em class="fa fa-power-off">&nbsp;</em> Logout</a></liclass="lhn">
        </ul>
    </div><!--/.sidebar-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
        }

        @RenderBody()
    </div>
    <script src="~/lumino/js/bootstrap.min.js"></script>
    <script src="~/lumino/js/chart.min.js"></script>
    <script src="~/lumino/js/chart-data.js"></script>
    <script src="~/lumino/js/easypiechart.js"></script>
    <script src="~/lumino/js/easypiechart-data.js"></script>
    <script src="~/lumino/js/bootstrap-datepicker.js"></script>
    <script src="~/lumino/js/custom.js"></script>
    <script src="~/Scripts/Myjs.js"></script>
    <script src="~/Scripts/sweetalert2.js"></script>
    <script>
        var header = document.getElementById("lhncontainer");
        var btns = header.getElementsByClassName("lhn");
        for (var i = 0; i < btns.length; i++) {
            if (btns[i].getElementsByClassName('lhn-link')[0].href === window.location.href) {
                btns[i].className += " active";
                break;
            }
        }
    </script>

</body>
</html>