<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hita Ambrish Ji</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.transitions.css">
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/icon.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/magnific.min.css">
    <link rel="stylesheet" href="~/css/venobox.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>


</head>
<body class="home-2">
    <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

    <div id="preloader"></div>
    <header class="header-two">
        <!-- Start top bar -->
        <div class="topbar-area topbar-area-2 fix hidden-xs/">
            <div class="container">
                <div class="row">
                    <div class=" col-md-6 col-sm-6">
                        <div class="topbar-left">
                            <ul>
                                <!--<li><a href="#">Miss Call  <i class="fa fa-phone"></i> +91-73576-23456</a></li>
                                <li><a href="mailto:info@hitaambrish.com" target="_blank"><i class="fa fa-envelope"></i> info@hitaambrish.com</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="topbar-right">
                            <!--<div class="quote-button"> <a href="http://www.hitarasdhara.com/home/eventRegistration" class="quote-btn">Registration Form</a> </div>-->
                            <div class="top-social">
                                <ul>
                                    <li><a href="https://facebook.com/ShreeHitaAmbrishJi" target="_blank"><i class="fa fa-facebook" style="font-size:15px;"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UC3gnhko-qhwOdUDh_DcZaAw" target="_blank"><i class="fa fa-youtube" style="font-size:15px;"></i></a></li>
                                    <li><a href="https://gaana.com/artist/shree-hita-ambrish-ji" target="_blank"><img src="~/img/gaana_icon.png" border="0" alt=""></a></li>
                                    <li><a href="https://www.saavn.com/s/artist/shree-hita-ambrish-ji-albums/sJ4JzG6Wd6k_" target="_blank"><img src="~/img/saavn_icon.png" border="0" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sticker" class="header-area header-area-2 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="logo"> <a class="navbar-brand page-scroll sticky-logo" href="~/index.html"> <img src="~/img/logo.png" alt=""> </a> </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <nav class="navbar navbar-default">
                            <div class="collapse navbar-collapse" id="navbar-example">
                                <div class="main-menu">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="~/index.html">Home</a></li>
                                        <li>
                                            <a class="pagess" href="#">About</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/shree-radha-vallabh-ji.html">Shree Radha Vallabh Ji</a></li>
                                                <li><a href="#">Shree Hita Harivansh Mahaprabhu Ji</a></li>
                                                <li><a href="~/hita-ambrish-ji.html">Hita Ambrish Ji</a></li>
                                                <li><a href="~/hita-ras-dhara.html">About Hita Ras Dhara</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/upcoming-katha.html">Upcoming Discourses</a></li>
                                        <li>
                                            <a href="#">Gallery </a>
                                            <ul class="sub-menu">
                                                <li><a href="~/katha-gallery.html">Katha Gallery</a></li>
                                                <li><a href="#">Bhajan Gallery</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/query">Queries</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <div class="logo"> <a href="#"><img src="~/img/logo.png" alt="" /></a> </div>
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="~/index.html">Home</a></li>
                                    <li>
                                        <a class="pagess" href="#">About</a>
                                        <ul class="sub-menu">
                                            <li><a href="~/shree-radha-vallabh-ji.html">Shree Radha Vallabh Ji</a></li>
                                            <li><a href="#">Shree Hita Harivansh Mahaprabhu Ji</a></li>
                                            <li><a href="~/hita-ambrish-ji.html">Hita Ambrish Ji</a></li>
                                            <li><a href="~/hita-ras-dhara.html">About Hita Ras Dhara</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/upcoming-katha.html">Upcoming Discourses</a></li>
                                    <li>
                                        <a href="#">Gallery </a>
                                        <ul class="sub-menu">
                                            <li><a href="~/katha-gallery.html">Katha Gallery</a></li>
                                            <li><a href="#">Bhajan Gallery</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="~/query">Query</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @{
        var controller = ViewContext.RouteData.Values["controller"];
    }
    @if (controller.ToString() == "Talk")
    {
        <div class="intro-area intro-area-2">
            <img src="~/img/banner2.jpg" alt="">
        </div>
    }
    <div class="container" style="padding:40px 0px;">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
    <<div class="banner-area2 area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                    <p style="color:#FFFFFF;font-size:22px;padding-bottom:10px;">Divine Discourses & Bhajans are available on</p>
                    <a href="https://gaana.com/artist/shree-hita-ambrish-ji/albums" target="_blank"><img src="~/img/gaana-logo.png" border="0" alt="0" style="margin-right:15px;margin-bottom:15px;" /></a>
                    <a href="https://www.saavn.com/s/artist/shree-hita-ambrish-ji-albums/sJ4JzG6Wd6k_" target="_blank"><img src="~/img/saavan-logo.png" border="0" alt="0" style="margin-bottom:15px;" /></a>

                    <div class="banner-content text-center" style="padding-top:20px;">
                        <h2 style="color:#FFFFFF;">Shree Hita Ambrish Ji</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="copyright">
                            <p>&copy; 2018, <a href="#">HITA RAS DHARA</a> All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="copyright" align="right"> &nbsp; </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jquery latest version -->
    @*<script src="~/js/vendor/jquery-1.12.4.min.js"></script>*@
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Counter js -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- waypoint js -->
    <script src="~/js/waypoints.js"></script>
    <!-- isotope js -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!-- stellar js -->
    <script src="~/js/jquery.stellar.min.js"></script>
    <!-- magnific js -->
    <script src="~/js/magnific.min.js"></script>
    <!-- venobox js -->
    <script src="~/js/venobox.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- Form validator js -->
    <script src="~/js/form-validator.min.js"></script>
    <!-- plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/js/main.js"></script>
</body>
</html>
