﻿@model HitaRasDhara.Controllers.DbViewForDashboard
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active"> Event - Detailed </li>
    </ol>
</div><!--/.row-->
<div class="container" style="padding-top: 30px;">
    <div class="header">
        <h1 class="page-header">The current status of Event Registration for 28th September.</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("EventDetailed", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div id="wrap">
                    <div class="container">
                        <div class="form-group">
                            <input value="HRDG01" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search.." title="Type in a search parameter">
                        </div>
                        <div class="form-group">
                            <table id="myTable" class="datatable table table-striped table-bordered table-hover">
                                <thead>
                                    <tr id="tableHeader">
                                        <th>Registration Id&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(0)"></span></th>
                                        <th>Name&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(1)"></span></th>
                                        <th>Mobile Number&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(2)"></span></th>
                                        <th>Year Of Birth&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(3)"></span></th>
                                        <th>City&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(4)"></span></th>
                                        <th>Email&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(5)"></span></th>
                                        @*<th>Seat Status&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(6)"></span></th>*@
                                        @*<th>Question&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(6)"></span></th>*@
                                        <th>TimeStamp&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-sort" onclick="sortTable(6)"></span></th>
                                        <th>Manage Registration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ContentItems)
                                    {
                                        <tr>
                                            <td>
                                                @ViewBag.IdPrefix@String.Format("{0:D4}", item.RegistrationID)
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.Phone</td>
                                            <td>@item.YearOfBirth</td>
                                            <td>@item.City</td>
                                            <td>@item.Email</td>
                                            @*<td>@item.SeatStatus</td>*@
                                            @*<td>@item.Question</td>*@
                                            <td>@item.TimeStamp</td>

                                            @if (item.SeatStatus == "Registered")
                                            {
                                                <td>
                                                    <input type="button" value="Allow Entry" class="btn btn-primary" id=@item.Phone onclick="ManageEntry(@item.Phone)" />
                                                </td>
                                            }
                                            @if (item.SeatStatus == "Cancelled")
                                            {
                                                <td>
                                                    <button class="btn btn-danger" id=@item.Phone disabled> Cancelled </button>
                                                </td>
                                            }
                                            @if (item.SeatStatus == "Entered")
                                            {
                                                <td>
                                                    <button class="btn btn-success" id=@item.Phone disabled> Entered </button>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>

    $('.glyphicon-sort').css({ 'cursor': 'pointer' });

    function ManageEntry(phone) {
        swal({
            title: 'Are you sure ?',
            text: 'Have you verified the ID and entry pass of the listener ?',
            type: 'warning',
            allowOutsideClick: false,
            confirmButtonText: 'Yes, Allow Entry',
            showCancelButton: true,
            cancelButtonColor: '#d33',
            cancelButtonText: 'No, I wish to recheck.'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "/Talk/AllowEntry",
                    data: { 'Mobile': "" + phone },
                    success: function (result) {
                        console.log('data is : ' + result.Code);
                        if(result.Code == '18'){
                            swal('Success!', 'Listener has been allowed entry into the auditorium.', 'success').then(() => {
                window.location.reload();
            });
                        }else{
                            showPopup(result.Code);
                        }

                    },
                    error: function (data) {
                        console.log('error : data code is : ' + data.Code);
                    }
                });
            } else if (result.dismiss === "cancel" || result.dismiss === "esc") {
                //Nothing
            }
        });
        return false;
    }

    function myFunction() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else if (!tr[i].id.match('^tableHeader')) {
                tr[i].style.display = "none";
            }
        }
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1) ; i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

</script>
