﻿﻿@model HitaRasDhara.Models.UpcomingKathaViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active"> Katha Management System </li>
    </ol>
</div><!--/.row-->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("KathaManagement", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div id="wrap">
                <div class="container">
                    <div class="panel panel-default articles">
                        <div class="panel-heading">
                            Upcoming Katha management system.
                            <div style="float: right;">
                                <a class="btn btn-primary" href='@Url.Action("AddKatha","Admin")' > <i class="fa fa-plus" aria-hidden="true"></i> Add </a>
                            </div>
                        </div>
                        @foreach (var item in Model.KathaFeed)
                        {
                            <div class="panel-body articles-container">
                                <div class="article border-bottom">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-10 col-md-10">
                                                <div class="col-xs-12 col-md-8">
                                                    <h3  style="margin-top: unset"> @item.KathaTitle </h3>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <a class="btn btn-primary" href='@Url.Action("EditKathaEntry","Admin", new { KathaId = @item.KathaId})' > <i class="fa fa-edit" aria-hidden="true"></i> Edit </a>
                                                </div>
                                                    <div class="col-md-8 col-xs-12" style="margin-top: 10px">
                                                        <p><span class="fa fa-calendar color-blue"></span> @item.Dates </p>
                                                        <p><span class="fa fa-clock-o color-blue"></span> @item.Timings </p>
                                                        <p><span class="fa fa-map-marker color-blue"></span> @item.AddressLine1, @item.AddressLine2 </p>
                                                        <p><span class="fa fa-location-arrow color-blue"></span> @item.AddressLine3 </p>
                                                        @if (item.LocationUrl != "null")
                                                        {
                                                            <a class="btn btn-primary" href="@item.LocationUrl" style="margin-bottom: 10px;" target="_blank">Location Link</a>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-danger">Location Link Missing!</span>
                                                        }
                                                        @if (item.GoogleCalenderUrl != "null")
                                                        {
                                                            <a class="btn btn-primary" href="@item.GoogleCalenderUrl" style="margin-bottom: 10px;" target="_blank">Google Calender</a>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-danger">Google Calendar Missing!</span>
                                                        }
                                                        @if (item.NearbyHotelsUrl != "null")
                                                        {
                                                            <a class="btn btn-primary" href="@item.NearbyHotelsUrl" style="margin-bottom: 10px;" target="_blank">Nearby Hotels</a>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-danger">Nearby Hotels Link Missing!</span>
                                                        }
                                                        <h5><span class="fa fa-user-times color-blue fa-2x"></span> @item.UnpublishDate </h5>
                                                    </div>
                                                <div class="col-md-4 col-xs-12">
                                                    @if (item.ImageUrl != "null")
                                                    {
                                                        <img src="@item.ImageUrl" height="150px"/>
                                                    }
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div><!--End .article-->
                            </div>
                        }
                    </div><!--End .articles-->
                </div>
            </div>
        }
    </div>
</div>
