<div class="inner-page-cover overlay" style="background-image: url('../../img/header_bg.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
</div>
@model HitaRasDhara.Models.MobileVerificationViewModel
<div class="row">
    <div class="col-md-8">
        <h3 style="color:#004488;">Cancel Registration</h3>
        <form class="form-horizontal" id="CancelForm">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Enter your registered mobile number" })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    <p style="width: 290px"> If you have successfully registered yourself and due to some reasons you are unable to attend the discourse, we request you to kindly cancel your seat by entering your registered mobile number above, so that your seat can be alotted to someone else.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="SubmitBtnOfCancelForm" value="Cancel Registration" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4" id="imgBlock">
        <img src="~/img/registration-img.jpg" border="0" alt="" />
    </div>
</div>

<script>
    function cancelNow(formData) {
            $.ajax({
                type: "POST",
                url: "/Talk/CancelRegistration",
                data: formData,
                success: function (result) {
                    console.log('data is : ' + result.Code);
                    showPopup(result.Code);
                },
                error: function (data) {
                    console.log('error : data code is : ' + data.Code);
                }
            });
            return false;
    }

    $('#SubmitBtnOfCancelForm').click(function () {
        var $form = $('#CancelForm');
        if (!$form.valid()) {
            return false;
        } else {
            $('#SubmitBtnOfCancelForm').attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: "/Talk/SemiFilledForm2",
                data: $('#CancelForm').serialize(),
                success: function (result) {
                    $('#SubmitBtnOfCancelForm').removeAttr("disabled");
                   swal("Please enter the OTP sent to your mobile", {
                        content: "input"
                    })
                        .then((value) => {
                            if (result.OTPCode === `${value}`) {
                                cancelNow($('#CancelForm').serialize());
                            } else {
                                swal("Failure!", "The OTP you entered is invalid", "error");
                            }
                        });
                },
                error: function (data) {
                    $('#SubmitBtnOfCancelForm').removeAttr("disabled");
                    console.log('error : data code is : ' + data.Code);
                }
            });
        }
        return false;
    });

</script>
