<div style="background: #f8f9fa;">
    <div class="site-blocks-cover inner-page-cover desktop" style="background-image: url(https://www.hitaambrish.com/img/Geeta1Post.jpg);background-position: top center;background-repeat:no-repeat;background-color:#140604;min-height: 520px;">
    </div>
    <div class="site-blocks-cover inner-page-cover tablet" style="background-image: url(https://www.hitaambrish.com/img/Geeta1Post.jpg);min-height: 100px;background-position: 100% 0px;">
    </div>
    <div class="site-blocks-cover inner-page-cover mobile" style="background-image: url(https://www.hitaambrish.com/img/Geeta1PostMobile.jpg);min-height: 520px;background-position: 100% 0px;">
    </div>
</div>

<div class="site-section bg-light" id="section-contact">
    @model HitaRasDhara.Models.EventFeedbackViewModel
    <div class="container">
        <div class="row justify-content-center mb-5 ml-2 mr-2" id="MainBlock">
            <div class="order-md-1" data-aos="fade">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Questions</h2>
                    <h5 class="color-black-opacity-5">Related to Chapter 2 - SAANKHYA YOGA </h5>
                </div>
                <div class="row">
                    <div class="col-md-5 mobile">
                        <div class="p-4 mb-3 bg-white">
                            <img src="http://www.hitaambrish.com/img/Feedback-PNG-Image.png" width=100%>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <form class="p-5 bg-white form-horizontal" id="FeedbackForm" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row form-group">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone Number", required = "required" })
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.Feedback, new { @class = "form-control", @rows = "5", placeholder = "Question related to Chapter 2 - SAANKHYA YOGA", required = "required" })
                                    @Html.ValidationMessageFor(m => m.Feedback, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12" id="Submit">
                                    <input type="submit" id="SubmitBtnOfFeedbackForm" value="Submit" class="btn btn-primary py-2 px-4 text-white w-100">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 desktop">
                        <div class="p-4 mb-3 bg-white">
                            <img src="http://www.hitaambrish.com/img/Feedback-PNG-Image.png" width=100%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function FeedbackSubmitNow(formData) {
        $.ajax({
            type: "POST",
            url: "/Talk/EventFeedback",
            data: formData,
            success: function (result) {
                $('#SubmitBtnOfFeedbackForm').val("Submit");
                console.log('data is : ' + result.Code);
                showPopup(result.Code);
            },
            error: function (data) {
                $('#SubmitBtnOfFeedbackForm').val("Submit");
                console.log('error : data code is : ' + data.Code);
            }
        });
        return false;
    }

    $('#SubmitBtnOfFeedbackForm').click(function () {
        var $form = $('#FeedbackForm');
        if (!$form.valid()) {
            return false;
        } else {
            $('#SubmitBtnOfFeedbackForm').attr("disabled", "disabled");
            $('#SubmitBtnOfFeedbackForm').val("Please Wait...");
            //$.ajax({
            //    type: "POST",
            //    url: "/Talk/SemiFilledForm3",
            //    data: $('#FeedbackForm').serialize(),
            //    success: function (result) {
            //        $('#SubmitBtnOfFeedbackForm').removeAttr("disabled");
            //        swal("Please enter the OTP sent to your mobile", {
            //            content: "input"
            //        })
            //                .then((value) => {
            //                    if (result.OTPCode === `${value}`) {
            //                        FeedbackSubmitNow($('#FeedbackForm').serialize());
            //                    } else {
            //                        $('#SubmitBtnOfFeedbackForm').val("Submit");
            //                        swal("Failure!", "The OTP you entered is invalid", "error");
            //                    }
            //                });
            //    },
            //    error: function (data) {
            //        $('#SubmitBtnOfFeedbackForm').removeAttr("disabled");
            //        $('#SubmitBtnOfFeedbackForm').val("Submit");
            //        console.log('error : data code is : ' + data.Code);
            //    }
            //});
            FeedbackSubmitNow($('#FeedbackForm').serialize());
        }
        return false;
    });
</script>