@model HitaRasDhara.Models.MobileVerificationViewModel
@{
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <h3 style="color:#004488;">Reprint your entry pass.</h3>
        <form class="form-horizontal visibleBlock" id="ReprintForm">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Enter your registered mobile number" })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    <p style="width: 290px"> If due to some reasons you could not save/preserve the entry pass generated at the time of registration, you can reprint the same by entering your registered mobile number above.</p>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="SubmitBtnOfReprintForm" value="Reprint" class="btn btn-primary" />
                </div>
            </div>
        </form>
        <iframe id="RegPass" class="HiddenBlock" width="100%" height="1000px" allowfullscreen src="" style="border:none"></iframe>
    </div>
    <div class="col-md-4" id="imgBlock">
        <img src="~/img/registration-img.jpg" border="0" alt="" />
    </div>
</div>

<script>
    function reprintNow(formData) {
        $.ajax({
            type: "POST",
            url: "/Talk/Reprint",
            data: formData,
            dataType: 'binary',
            success: function (result) {
                if (result.type === "application/pdf") {
                    console.log('File downloaded');
                    if (!is_touch_device()) {
                        $('#RegPass').attr('src', window.URL.createObjectURL(result));
                        $("#RegPass").removeClass("HiddenBlock");
                        $("#RegPass").addClass("visibleBlock");
                        $("#ReprintForm").removeClass("visibleBlock");
                        $("#ReprintForm").addClass("HiddenBlock");
                        $("#imgBlock").addClass("HiddenBlock");
                    }
                    saveAs(result, "Entry Pass.pdf");
                    showPopup(9);
                } else {
                    showPopup(7);
                    console.log('Duplicate');
                }
            },
            error: function (result) {
                console.log('error : data code is : ' + data.Code);
            }
        });
        return false;
    }

    $('#SubmitBtnOfReprintForm').click(function () {
        var $form = $('#ReprintForm');
        if (!$form.valid()) {
            return false;
        } else {
            $('#SubmitBtnOfReprintForm').attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: "/Talk/SemiFilledForm2",
                data: $('#ReprintForm').serialize(),
                success: function (result) {
                    $('#SubmitBtnOfReprintForm').removeAttr("disabled");
                    swal("Please enter the OTP sent to your mobile", {
                        content: "input"
                    })
                            .then((value) => {
                                if (result.OTPCode === `${value}`) {
                                    reprintNow($('#ReprintForm').serialize());
                                } else {
                                    swal("Failure!", "The OTP you entered is invalid", "error");
                                }
                            });
                },
                error: function (data) {
                    $('#SubmitBtnOfReprintForm').removeAttr("disabled");
                    console.log('error : data code is : ' + data.Code);
                }
            });
        }
        return false;
    });

</script>
