<div style="background: #f8f9fa;">
    <div class="site-blocks-cover inner-page-cover desktop" style="background-image: url(/img/Geeta1Post.jpg);min-height: 520px;background-position: 100% 0px;">
    </div>
    <div class="site-blocks-cover inner-page-cover tablet" style="background-image: url(/img/Geeta1Post.jpg);min-height: 100px;background-position: 100% 0px;">
    </div>
    <div class="site-blocks-cover inner-page-cover mobile" style="background-image: url(/img/Geeta1PostMobile.jpg);min-height: 520px;background-position: 100% 0px;">
    </div>
</div>
<div class="site-section bg-light" id="section-contact">
    @model HitaRasDhara.Models.MobileVerificationViewModel
    <div class="container">
        <div class="row justify-content-center mb-5 ml-2 mr-2" id="MainBlock">
            <div class="order-md-1">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Reprint</h2>
                    <h5 class="color-black-opacity-5">Reprint your entry pass! </h5>
                </div>
                <div class="row">
                    <div class="col-md-7 mb-5">
                        <form class="p-5 bg-white form-horizontal" id="ReprintForm" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row form-group">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Mobile", required = "required" })
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12" id="Submit">
                                    <input type="submit" id="SubmitBtnOfReprintForm" value="Reprint" class="btn btn-primary py-2 px-4 text-white w-100">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <div class="p-4 mb-3 bg-white">
                            <div class="col-md-12">
                                <button id="ReprintButton" type="button" class="btn btn-primary py-2 px-4 text-white w-100" onclick="location.href = '@Url.Action("Register", "Talk")'">
                                    <span class="fa fa-registered" aria-hidden="true"></span> Register
                                </button>
                                <button id="CancelButton" type="button" class="btn btn-primary my-2 py-2 px-4 text-white w-100" onclick="location.href = '@Url.Action("CancelRegistration", "Talk")'">
                                    <span class="fa fa-times" aria-hidden="true"></span> Cancel Registration
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <iframe id="RegPass" class="HiddenBlock" width="100%" height="1000px" allowfullscreen src="" style="border:none"></iframe>
    </div>
</div>
<script>
    function reprintNow(formData) {
        $.ajax({
            type: "POST",
            url: "/Talk/Reprint",
            data: formData,
            dataType: 'binary',
            xhrFields: {
                responseType: 'blob'
            },
            success: function (result) {
                if (result.type === "application/pdf") {
                    console.log('File downloaded');
                    saveAs(result, "Entry Pass.pdf");
                    showPopup(9);
                } else {
                    showPopup(7);
                    console.log('Duplicate');
                }
            },
            error: function (result) {
                debugger;
                console.log('error : data code is : ' + result.Code);
            }
        });
        return false;
    }

    $('#SubmitBtnOfReprintForm').click(function () {
        var $form = $('#ReprintForm');
        if (!$form.valid()) {
            return false;
        } else {
            $('#SubmitBtnOfReprintForm').attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: "/Talk/SemiFilledForm2",
                data: $('#ReprintForm').serialize(),
                success: function (result) {
                    $('#SubmitBtnOfReprintForm').removeAttr("disabled");
                    swal("Please enter the OTP sent to your mobile", {
                        content: "input"
                    })
                            .then((value) => {
                                if (result.OTPCode === `${value}`) {
                                    reprintNow($('#ReprintForm').serialize());
                                } else {
                                    swal("Failure!", "The OTP you entered is invalid", "error");
                                }
                            });
                },
                error: function (data) {
                    $('#SubmitBtnOfReprintForm').removeAttr("disabled");
                    console.log('error : data code is : ' + data.Code);
                }
            });
        }
        return false;
    });

</script>
