<!--
<div class="eventArea desktop">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h2> Think HIGHER Drill DEEPER Be STRONGER</h2>
                <p>A talk by <strong>Hita Ambrish Ji</strong> especially for the Youth</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 registerBtn">
                <div class="applyNow"><a href="https://www.hitaambrish.com/Talk/Register">Register Now</a></div>
            </div>
        </div>
    </div>
</div>

<div class="eventArea mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h2> Think HIGHER <br/>Drill DEEPER <br/>Be STRONGER</h2>
                <p>A talk by <strong>Hita Ambrish Ji</strong> especially for the Youth</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 registerBtn">
                <div class="applyNow"><a href="https://www.hitaambrish.com/Talk/Register">Register Now</a></div>
            </div>
        </div>
    </div>
</div>
-->
<div class="site-blocks-cover overlay" id="section-home" style="background-image: url('../../img/slider3.jpg');">
    @*<div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                    <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up">Hita Ambrish</h1>
                    <p class="mb-5" data-aos="fade-up" data-aos-delay="100">A spiritual mentor</p>
                    <p data-aos="fade-up" data-aos-delay="200"><a href="@Url.Action("HitaAmbrishJi", "About")" class="btn btn-primary py-3 px-5 text-white">Know More</a></p>
                </div>
            </div>
        </div>*@
</div>
<div class="site-section bg-image overlay" id="section-event" style="background-image: url('https://www.hitaambrish.com/img/talkbg.jpg');">
    <div class="container">
        <div class="eventArea">
            <div class="row" data-aos="fade-up" data-aos-delay="400">
                <div class="col-md-6 col-sm-9 col-xs-12">
                    <img class="desktop" src="https://www.hitaambrish.com/img/desktop_logo.png">
                    <img class="mobile" src="https://www.hitaambrish.com/img/mobile_logo.png">

                    <h4 class="mb-3 text-white" data-aos="fade-up" data-aos-delay="100">From CONFUSION To CONCLUSION! </h4>
                    <table class="mb-5">
                        <tr class="mb-2 text-white aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <td>
                                <span class="fa fa-calendar"></span>
                            </td>
                            <td>
                                <h5 class="mx-2">25<sup>th</sup> January, 2020  </h5>
                            </td>
                        </tr>
                        <tr class="mb-2 text-white aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <td>
                                <span class="fa fa-clock-o"></span>
                            </td>
                            <td>
                                <h5 class="mx-2">5:00 PM to 7:30 PM</h5>
                            </td>
                        </tr>
                        <tr class="mb-2 text-white aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <td>
                                <span class="fa fa-map-marker"></span>
                            </td>
                            <td>
                                <h5 class="mx-2">Siri Fort Auditorium, Khel Gaon Road, New Delhi</h5>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6 col-sm-3 col-xs-12 registerBtn">
                    <div id="timer" class="countdown">
                        Registration begins in:
                        <div id="jcountdown"></div>
                    </div>
                    <div id="RegisterNowButton" class="HiddenBlock">
                        <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
                            <div class="applyNow justify-content-center text-center" data-aos="fade-up" data-aos-delay="200"><a href="https://www.hitaambrish.com/Talk/Register" class="btn btn-primary py-3 px-5 text-white">Register Now</a></div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@model HitaRasDhara.Models.UpcomingKathaViewModel

<div class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5">

            <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
                <img src="~/img/maharaj-ji2.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-md-1" data-aos="fade-up">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">About Hita Ambrish</h2>
                </div>
                <p>
                    Shree Hita Ambrish Ji is a spiritual mentor from Vrindavan, India with a refreshing take on devotion to divine. He spent his childhood and completed his education in Hisar. As a child also, Ambrish ji always had an inclination towards spirituality. At a very tender age, he was an avid reader of scriptures like Ram Charitra Manas, Shrimad Bhagwat and Gurbaani. He has been delivering spiritual discourses, since 2006 on 'Bhakti Yoga'. He elucidates 'Seva' as the purest form of love towards the divine power.  He has been actively conducting interactive sessions for youth on various forums encouraging them to be master of their own self.  
                </p>
                <a href="@Url.Action("HitaAmbrishJi","About")">Read More &raquo;</a>
            </div>

        </div>
    </div>
</div>

<div class="site-section bg-image overlay" style="background-image: url('//www.hitaambrish.com/img/bg1.jpg');" id="section-how-it-works">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary" data-aos="fade">Upcoming Discourses</h2>
            </div>
        </div>
        <div class="row">
            @if (Model.KathaFeed != null && Model.KathaFeed.Count > 0)
            {
                foreach (var item in Model.KathaFeed)
                {
                    <div class="col-md-4 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                        <div class="person rounded" style="background: transparent;border: white 1px solid; text-align: center;height: 425px;">
                            @if (item.ImageUrl != "null")
                            {
                                <img src=@item.ImageUrl class="img-fluid rounded" alt="Upcoming Katha">
                            }
                            else
                            {
                                <img src="" class="img-fluid rounded mb-5 w-75 rounded-circle" alt="Upcoming Katha">
                            }
                            <div class="katha-desc" style="padding: 20px; color: white;">
                                <h3 style="font-size: 16px;font-weight: 700;margin-bottom: 0;padding: 0 0 10px;text-transform: uppercase;color: #C20001;">@item.KathaTitle</h3>
                                <p class="mb-4">
                                    <strong>@item.Dates (@item.Timings)</strong> <br />
                                    @item.AddressLine1 <br /><strong>@item.AddressLine2</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-12 text-center aos-init aos-animate" style="margin-top: 25px;" data-aos="fade-up" data-aos-delay="300">
            <a class="btn btn-primary py-3 px-5 text-white" href="@Url.Action("Index","UpcomingKathas")">View More</a>
        </div>
    </div>
</div>

@*<div class="site-section border-bottom">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary" data-aos="fade">Testimonials</h2>
                </div>
            </div>
            <div class="slide-one-item home-slider owl-carousel">
                <div>
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="~/img/maharaj-ji2.jpg" alt="Image" class="img-fluid mb-3">

                        </figure>
                        <blockquote>
                            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                            <p class="author"> &mdash; John Trump</p>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="~/img/maharaj-ji2.jpg" alt="Image" class="img-fluid mb-3">

                        </figure>
                        <blockquote>
                            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                            <p class="author"> &mdash; Roger Moore</p>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="~/img/maharaj-ji2.jpg" alt="Image" class="img-fluid mb-3">
                        </figure>
                        <blockquote>
                            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                            <p class="author"> &mdash; Ben Carson</p>
                        </blockquote>
                    </div>
                </div>
                <div>
                    <div class="testimonial">
                        <figure class="mb-4">
                            <img src="~/img/maharaj-ji2.jpg" alt="Image" class="img-fluid mb-3">
                        </figure>
                        <blockquote>
                            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                            <p class="author"> &mdash; Jed Smith</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="site-section border-bottom" id="section-our-team">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary" data-aos="fade">Audio & Video Gallery</h2>
            </div>
        </div>
        <div class="row owl-carousel owl-theme owl-carousel2">
            <div class="mb-5 mb-lg-0 item pad" data-aos="fade" data-aos-delay="100">
                <div class="person" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/madhurastak.jpg" alt="Image" class="img-fluid mb-2">
                    <h3>Madhurashtak</h3>
                    <p class="position text-muted">Gorakhpur</p>
                    <p class="mb-4">The Madhurasthakam, composed by Sri Vallabhacharya, is a unique stotra, describing the sweetness of Lord Shree Krishna.</p>
                    <ul class="ul-social-circle">
                        <li class="audioVideoIcon"><a href="https://www.youtube.com/watch?v=F2aOTLmuNzo&index=2&list=PLBdDLcI6qE-3vbQ0zBcKZGCW_ilhxVFbN&t=288s" target="_blank"><img src="~/img/youtube_icon.png" border="0" alt="youtube icon" /></a></li>
                        <li class="audioVideoIconMargin"><a href="https://gaana.com/album/madhurashtak" target="_blank"><img src="~/img/gaana_icon2.png" border="0" alt="gaana icon" /></a></li>
                        <li class="audioVideoIcon"><a href="https://www.saavn.com/s/album/hindi/Madhurashtak-2017/qHAnSVViqmc_" target="_blank"><img src="~/img/saavan_icon2.png" border="0" alt="saavn icon" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-5 mb-lg-0 item pad" data-aos="fade" data-aos-delay="100">
                <div class="person" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/uddhav-sandesh.jpg" alt="Image" class="img-fluid mb-2">
                    <h3>Uddhav Sandesh</h3>
                    <p class="position text-muted">Panchkula</p>
                    <p class="mb-4">Shree Krishna requesting Uddhav to go to Vrindavan to pacify Nandbaba, Ma Yashoda, the Gopis his &#39;Sakhas&#39; and all Brajvasis, by reminding them of their pastimes with Shree Krishna.</p>
                    <ul class="ul-social-circle">
                        <li class="audioVideoIcon"><a href="https://www.youtube.com/watch?v=Xev9w-rKW9g&index=2&list=PLBdDLcI6qE-2Xjt--7n7cd8ZIFHr0dYX_&t=52s" target="_blank"><img src="~/img/youtube_icon.png" border="0" alt="youtube icon" /></a></li>
                        <li class="audioVideoIconMargin"><a href="https://gaana.com/album/uddhav-sandesh" target="_blank"><img src="~/img/gaana_icon2.png" border="0" alt="gaana icon" /></a></li>
                        <li class="audioVideoIcon"><a href="https://www.saavn.com/s/album/hindi/Uddhav-Sandesh-2017/ofS511BhIqU_" target="_blank"><img src="~/img/saavan_icon2.png" border="0" alt="saavn icon" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-5 mb-lg-0 item pad" data-aos="fade" data-aos-delay="100">
                <div class="person" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/radha-kirpa-kataksh.jpg" alt="Image" class="img-fluid mb-2">
                    <h3>Radha Kirpa Kataksh</h3>
                    <p class="position text-muted">Vrindavan</p>
                    <p class="mb-4">A prayer for the merciful sidelong glance of Shree Radha. This stotra is given by Lord Shiva himself and believed to be from the &#39;Urdhavamnaya tantra&#39;.</p>
                    <ul class="ul-social-circle">
                        <li class="audioVideoIcon"><a href="https://www.youtube.com/watch?v=c1rYKGIpI4o&t=705s&list=PLBdDLcI6qE-3om6evKAVgQ6KChtb38UWU&index=2" target="_blank"><img src="~/img/youtube_icon.png" border="0" alt="youtube icon" /></a></li>
                        <li class="audioVideoIconMargin"><a href="https://gaana.com/album/shree-radha-kripa-kataksh" target="_blank"><img src="~/img/gaana_icon2.png" border="0" alt="gaana icon" /></a></li>
                        <li class="audioVideoIcon"><a href="https://www.saavn.com/s/album/hindi/Shree-Radha-Kripa-Kataksh-2018/wxRH81L9uzA_" target="_blank"><img src="~/img/saavan_icon2.png" border="0" alt="saavn icon" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-5 mb-lg-0 item pad" data-aos="fade" data-aos-delay="100">
                <div class="person" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/gopi-geet.jpg" alt="Image" class="img-fluid mb-2">
                    <h3>Gopi Geet</h3>
                    <p class="position text-muted">New Delhi</p>
                    <p class="mb-4">A divine composition by the Gopis in the earnest longing of just a glimpse of their beloved Shree Krishna. When Shree Krishna disappeared at the time of &#39;Rasa&#39;.</p>
                    <ul class="ul-social-circle">
                        <li class="audioVideoIcon"><a href="https://www.youtube.com/watch?v=LIR6yKH8ddA&list=PLBdDLcI6qE-03TIsjsehtMEN-L6vskG__" target="_blank"><img src="~/img/youtube_icon.png" border="0" alt="youtube icon" /></a></li>
                        <li class="audioVideoIconMargin"><a href="https://gaana.com/album/gopi-geet" target="_blank"><img src="~/img/gaana_icon2.png" border="0" alt="gaana icon" /></a></li>
                        <li class="audioVideoIcon"><a href="https://www.saavn.com/s/album/hindi/Gopi-Geet-2016/iTCwQ-989Yo_" target="_blank"><img src="~/img/saavan_icon2.png" border="0" alt="saavn icon" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-5 mb-lg-0 item pad" data-aos="fade" data-aos-delay="100">
                <div class="person" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/bhajan-marg.jpg" alt="Image" class="img-fluid mb-2">
                    <h3>Bhajan Marg</h3>
                    <p class="position text-muted">Faridabad</p>
                    <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <ul class="ul-social-circle">
                        <li class="audioVideoIcon"><a href="https://www.youtube.com/watch?v=0rp6eOvtc2U&index=2&t=1425s&list=PLBdDLcI6qE-1VBccXs9mz2zX8H38My4pW" target="_blank"><img src="~/img/youtube_icon.png" border="0" alt="youtube icon" /></a></li>
                        <li class="audioVideoIconMargin"><a href="https://gaana.com/artist/shree-hita-ambrish-ji" target="_blank"><img src="~/img/gaana_icon2.png" border="0" alt="gaana icon" /></a></li>
                        <li class="audioVideoIcon"><a href="https://www.saavn.com/s/artist/shree-hita-ambrish-ji-albums/sJ4JzG6Wd6k_" target="_blank"><img src="~/img/saavan_icon2.png" border="0" alt="saavn icon" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-5 mb-lg-0 item pad" data-aos="fade" data-aos-delay="100">
                <div class="person" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/tulsi-das-patiala.jpg" alt="Image" class="img-fluid mb-2">
                    <h3>Goswami Tulsi Dass Ji</h3>
                    <p class="position text-muted">Patiala</p>
                    <p class="mb-4">Goswami Tulsidas a &#39;Bhakti saint&#39; and a philosopher renowned for his devotion for Lord Ram. Goswami Tulsidas wrote the &#39;Ramcharitramanas&#39;.</p>
                    <ul class="ul-social-circle">
                        <li class="audioVideoIcon"><a href="https://www.youtube.com/watch?v=ZZVKZzfqnuo&list=PLBdDLcI6qE-3AZRLNDhuDcs34cP-MFRVU&index=2&t=212s" target="_blank"><img src="~/img/youtube_icon.png" border="0" alt="youtube icon" /></a></li>
                        <li class="audioVideoIconMargin"><a href="https://gaana.com/album/goswami-shree-tulsi-das-ji-bhaktmaal-katha" target="_blank"><img src="~/img/gaana_icon2.png" border="0" alt="gaana icon" /></a></li>
                        <li class="audioVideoIcon"><a href="https://www.saavn.com/s/album/hindi/Goswami-Shree-Tulsi-Das-Ji-Bhaktmaal-Katha-2013/8twBkRWRbpg_" target="_blank"><img src="~/img/saavan_icon2.png" border="0" alt="saavn icon" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="mb-5 mb-lg-0 item pad" data-aos="fade" data-aos-delay="100">
                <div class="person" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/img/prem-diwani-meera.jpg" alt="Image" class="img-fluid mb-2">
                    <h3>Prem Diwani Meera</h3>
                    <p class="position text-muted">New Delhi</p>
                    <p class="mb-4">Meera , the foremost exponent of &#39;prem bhakti&#39;(love-filled devotion), the one whose every passion, desire, thought,  her word, her every single heartbeat was intensely devoted to her only &#39;Giridhar Gopal&#39;. </p>
                    <ul class="ul-social-circle">
                        <li class="audioVideoIcon"><a href="https://www.youtube.com/watch?v=UCY5_DkkM00&index=2&t=12s&list=PLBdDLcI6qE-0M5NeGdDxikvKqq5NJ9Jls" target="_blank"><img src="~/img/youtube_icon.png" border="0" alt="youtube icon" /></a></li>
                        <li class="audioVideoIconMargin"><a href="https://gaana.com/artist/shree-hita-ambrish-ji" target="_blank"><img src="~/img/gaana_icon2.png" border="0" alt="gaana icon" /></a></li>
                        <li class="audioVideoIcon"><a href="https://www.saavn.com/s/artist/shree-hita-ambrish-ji-albums/sJ4JzG6Wd6k_" target="_blank"><img src="~/img/saavan_icon2.png" border="0" alt="saavn icon" /></a></li>
                    </ul>
                </div>
            </div>
            @*<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 item" data-aos="fade" data-aos-delay="100">
                         <div class="person">
                        <img src="~/img/madhurastak.jpg" alt="Image" class="img-fluid mb-2">
                        <h3>Hitopasna Parvesh</h3>
                        <p class="position text-muted">Vrindavan</p>
                        <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <ul class="ul-social-circle">
                            <li class="audioVideoIcon"><a href="https://www.youtube.com/watch?v=Ml2ho2Rkb_Q&t=45s&list=PLBdDLcI6qE-2LqLABWOViwaXEq47flT7k&index=2" target="_blank"><img src="~/img/youtube_icon.png" border="0" alt="youtube icon" /></a></li>
                            <li class="audioVideoIconMargin"><a href="https://gaana.com/album/madhurashtak" target="_blank"><img src="~/img/gaana_icon2.png" border="0" alt="gaana icon" /></a></li>
                            <li class="audioVideoIcon"><a href="https://www.saavn.com/s/album/hindi/Madhurashtak-2017/qHAnSVViqmc_" target="_blank"><img src="~/img/saavan_icon2.png" border="0" alt="saavn icon" /></a></li>
                        </ul>
                    </div>
                </div>*@
        </div>
        <div class="col-12 text-center aos-init aos-animate" style="margin-top: 25px;" data-aos="fade-up" data-aos-delay="300">
            <a class="btn btn-primary py-3 px-5 text-white" href="http://www.hitaras.com/">View More</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).load(function () {
        var i = 0;
        var images = ['../../img/slider4.jpg',
                      '../../img/slider5.jpg',
                       '../../img/slider3.jpg'];
        var image = $('#section-home');
        //Initial Background image setup
        //image.css('background-image', 'url(https://hitaambrish.com/img/slider1.jpg)');
        //Change image at regular intervals
        setInterval(function () {
            image.fadeOut("100", function () {
                $(this).css("background-image", "url(" + images[i] + ")");
                $(this).fadeIn("500");
            });
            if (i === images.length - 1)
                i = 0;
            else
                i++;
        }, 5000);

        $('.owl-carousel2').owlCarousel({
            autoplay: true,
            loop: true,
            lazyLoad: true,
            responsiveClass: true,
            responsive: {
                320: {
                    margin: 0,
                    items: 1
                },
                768: {
                    margin: 0,
                    stagePadding: 0,
                    items: 2
                },
                1024: {
                    margin: 0,
                    stagePadding: 0,
                    items: 3
                }
            }
        });

         $('#jcountdown').countdown('2020/01/21 20:00:00', function (event) {
            var $this = $(this).html(event.strftime(''
                + '<span>%-D</span> days '
                + '<span>%H</span> hr '
                + '<span>%M</span> min '
                + '<span>%S</span> sec'));
        });
        var countDownDate = new Date("Jan 21, 2020 20:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // If the count down is over, remove count down and show button
            if (distance < 0) {
                $("#timer").addClass("HiddenBlock");
                $("#RegisterNowButton").removeClass("HiddenBlock");
            }
        }, 1000);
    });
</script>

<style>
    .countdown {
        position: relative;
        color: #fff;
        font-size: 16px;
        font-family: arial;
        display: block;
        max-width: 350px;
        margin: auto;
        text-align: center;
        background: #f16821;
        border-radius: 10px;
        padding: 10px;
    }

    #jcountdown > span {
        font-size: 36px;
        margin-left: 10px;
        color: white;
    }

    .visibleBlock {
        display: block;
    }

    .HiddenBlock {
        display: none;
    }

    .fa {
        font-size: 20px;
    }
</style>
